# Vehicle Class

In [1]:
# Initialize the vehicle class
class Vehicle:
    
    # Initialize the constructor
    def __init__(self, make, model, year, mileage):
        self.make = make
        self.model = model
        self.year = year
        self.mileage = mileage
    
    # Define get method for vehicle make 
    def get_make(self):
        return self.make
    
    # Define get method for vehicle model 
    def get_model(self):
        return self.model
    
    # Define get method for vehicle year
    def get_year(self):
        return self.year
    
    # Define get method for vehicle mileage 
    def get_mileage(self):
        return self.mileage
    
    # Define set method for vehicle make 
    def set_make(self, make):
        self.make = make
    
    # Define set method for vehicle model 
    def set_model(self, model):
        self.model = model
    
    # Define set method for vehicle year 
    def set_year(self, year):
        self.year = year
    
    # Define set method for vehicle mileage 
    def set_mileage(self, mileage):
        self.mileage = mileage
    
    # __str__ method
    def __str__(self):
        return "Make: {0}; Model: {1}; Year of Manufacture: {2}; Mileage: {3}".format(self.make, self.model, self.year, self.mileage)

In [2]:
# Initialize a new list: vehicle_list
vehicle_list = []

# Add full time employee one vehicle and append it to the vehicle_list
fte1_veh = Vehicle("Honda", "Civic", 2014, 50000)
vehicle_list.append(fte1_veh)

# Add full time employee two vehicle and append it to the vehicle_list
fte2_veh = Vehicle("Toyota", "Camry", 2010, 60000)
vehicle_list.append(fte2_veh)

# Add full time employee three vehicle and append it to the vehicle_list
fte3_veh = Vehicle("BMW", "X3", 2016, 30000)
vehicle_list.append(fte3_veh)

# Add hourly employee one vehicle and append it to the vehicle_list
hrlye1_veh = Vehicle("Kia", "Rio", 2005, 150000)
vehicle_list.append(hrlye1_veh)

# Add hourly employee two vehicle and append it to the vehicle_list
hrlye2_veh = Vehicle("Mazda", "Mazda3", 2010, 80000)
vehicle_list.append(hrlye2_veh)

# Add hourly employee three vehicle and append it to the vehicle_list
hrlye3_veh = Vehicle("Nissan", "Sentra", 2005, 160000)
vehicle_list.append(hrlye3_veh)

# Add consultant one vehicle and append it to the vehicle_list
consul1_veh = Vehicle("Ford", "Ranger", 2011, 80000)
vehicle_list.append(consul1_veh)

# Add consultant two vehicle and append it to the vehicle_list
consul2_veh = Vehicle("Mercedes-Benz", "GLE350", 2018, 30000)
vehicle_list.append(consul2_veh)

# Add consultant three vehicle and append it to the vehicle_list
consul3_veh = Vehicle("Tesla", "Model3", 2018, 15000)
vehicle_list.append(consul3_veh)

# Employee Class

In [3]:
# Initialize the employee class
class Employee:
    
    # Initiate a constructor
    def __init__(self, name, address, vehicle):
        self.emp_name = name
        self.emp_address = address
        
        # Vehicle data (vehicle object)
        self.vehicle = vehicle
    
    # Define get method for employee name
    def get_emp_name(self):
        return self.emp_name
    
    # Define get method for employee address
    def get_emp_addr(self):
        return self.emp_address
    
    # Define get method for vehicle 
    def get_vehicle(self):
        return self.vehicle
    
    # Define set method for employee name
    def set_emp_name(self, name):
        self.emp_name = name
    
    # Define set method for employee address
    def set_emp_addr(self, address):
        self.emp_address = address  
        
    # Define set method for vehicle
    def set_emp_vehicle(self, vehicle):
        self.vehicle = vehicle
        
    def __str__(self):
        return "Employee Name: {0}, Employee Address: {1}, Vehicle: {2}".format(self.emp_name, self.emp_address, self.vehicle)

# FullTimeEmployee Class

In [4]:
# Initialize the full time employee class
class FullTimeEmployee(Employee):
    
    # Initialize the constructor
    def __init__(self, name, address, vehicle, salary):
        Employee.__init__(self, name, address, vehicle)
        self.salary = salary
    
    # Define get method for salary
    def get_salary(self):
        return self.salary 
    
    # Define set methof for salary
    def set_salary(self, salary):
        self.salary = salary 
      
    # Define get compensation method
    def get_compensation(self):
        annual_comp = self.salary
        
        # If the salary is less than or equal to 45000, multiply salary by 18% and subtract it from the annual_comp
        if self.salary <= 45000:
            annual_comp -= self.salary * 0.18
        
        # Else if the salary is greater than 45000 but less than or equal to 82000
        elif self.salary > 45000 and self.salary <= 82000:
            
            # Multiply 45000 by 18 percent, add it to the difference of salary and 45000, and multiply it by 28%
            annual_comp -= 45000 * 0.18 + (self.salary - 45000) * 0.28
        
        # Else, multiply the salary by 18%, add it to 37000 (difference between 82000 and 45000) and times it by 28%
        # Finally, add it to the difference between the salary and 82000 and multiply by 33%
        else:
            annual_comp -= 45000 * 0.18 + 37000 * 0.28 + (self.salary - 82000) * 0.33
        
        # Divide the annual compensation by 52 weeks: weekly_comp
        weekly_comp = annual_comp / 52
        
        # Return the weekly compensation 
        return weekly_comp
    
    # __str__ method 
    def __str__(self):
        data = ""
        data += f"Details of this Full Time Employee are:\n"
        data += f"Employee Name: {self.emp_name}; Employee Address: {self.emp_address} \n"
        data += f"Make: {self.vehicle.make}; Model: {self.vehicle.model}; Year of Manufacture: {self.vehicle.year}; Mileage: {self.vehicle.mileage} \n"
        data += f"Salary: {self.salary:.2f} \n"
        return data

# HourlyEmployee Class

In [5]:
# Initialize the hourly employee class
class HourlyEmployee(Employee):
    
    # Initialize the constructor
    def __init__(self, name, address, vehicle, hoursWorked, hourlyRate):
        Employee.__init__(self, name, address, vehicle)
        self.hoursWorked = hoursWorked
        self.hourlyRate = hourlyRate
        
    # Define get methods for hours worked and hourly rate
    def get_hours_worked(self):
        return self.hoursWorked
    
    def get_hourly_rate(self):
        return self.hourlyRate
    
    # Define set methods for hours worked and hourly rate
    def set_hours_worked(self, hoursWorked):
        self.hoursWorked = hoursWorked
        
    def set_hourly_rate(self, hourlyRate):
        self.hourlyRate = hourlyRate

    # Define get compensation method 
    def get_compensation(self):
        
        # If the amount of hours worked is less than or equal to 40, multiply the amount of hours worked by the hourly rate
        if self.hoursWorked <= 40:
            return self.hoursWorked * self.hourlyRate
        
        # Else, for hours excess of 40 hours, the hourly rate is 1.8 times the regular hourly rate
        # The sum of the two is the weekly compensation
        else:
            return 40 * self.hourlyRate + (self.hoursWorked - 40) * self.hourlyRate * 1.8
        
    # __str__ method
    def __str__(self):
        data = ""
        data += f"Details of this Hourly Employee are:\n"
        data += f"Employee Name: {self.emp_name}; Employee Address: {self.emp_address} \n"
        data += f"Make: {self.vehicle.make}; Model: {self.vehicle.model}; Year of Manufacture: {self.vehicle.year}; Mileage: {self.vehicle.mileage} \n"
        data += f"Hours Worked: {self.hoursWorked}; Hourly Rate: {self.hourlyRate} \n"
        return data

# Consultant Class

In [6]:
# Initialize the consultant class 
class Consultant(Employee):
    
    # Initialize the constructor
    def __init__(self, name, address, vehicle, hoursWorked, projectType):
        Employee.__init__(self, name, address, vehicle)
        self.hoursWorked = hoursWorked
        self.projectType = projectType
        
    # Define get methods for hoursWorked and projectType
    def get_hours_worked(self):
            return self.hoursWorked
        
    def get_project_type(self):
            return self.projectType
        
    # Define set methods for hoursWorked and projectType
    def set_hours_worked(self, hoursWorked):
            self.hoursWorked = hoursWorked
            
    def set_project_type(self, projectType):
            self.projectType = projectType
        
    # Define get compensation method 
    def get_compensation(self):
        
        # If the project type is one, multiply the amount of hours worked by $55.00
        if self.projectType == 1:
            return self.hoursWorked * 55.00
            
        # Else if the project type is two, multiply the amount of hours worked by $70.00
        elif self.projectType == 2:
            return self.hoursWorked * 70.00
        
        # Else if the project type is three, multiple the amount of hours worked by $85.00
        elif self.projectType == 3:
            return self.hoursWorked * 85.00
        
        # Else, print invalid project type 
        else:
            print("Invalid project type!")
             
    # __str__ method
    def __str__(self):
        data = ""
        data += f"Details of this Consultant are:\n"
        data += f"Employee Name: {self.emp_name}; Employee Address: {self.emp_address} \n"
        data += f"Make: {self.vehicle.make}; Model: {self.vehicle.model}; Year of Manufacture: {self.vehicle.year}; Mileage: {self.vehicle.mileage} \n"
        data += f"Hours Worked: {self.hoursWorked}; Project Type: {self.projectType} \n"     
        return data

In [7]:
# Initialize a new list: employee_db
employee_db = []

# Amy | Full Time
fte1 = FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", fte1_veh, 60000)
print(fte1)
employee_db.append(fte1)

# Bob | Full Time
fte2 = FullTimeEmployee("Bob", "200 W Campbell Road, Richardson, Texas, 75080", fte2_veh, 80000)
print(fte2)
employee_db.append(fte2)

# Evan | Full Time
fte3 = FullTimeEmployee("Evan", "300 W Campbell Road, Richardson, Texas, 75080", fte3_veh, 120000)
print(fte3)
employee_db.append(fte3)

# Grace | Hourly 
hrlye1 = HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", hrlye1_veh, 50, 20)
print(hrlye1)
employee_db.append(hrlye1)

# James | Hourly 
hrlye2 = HourlyEmployee("James", "500 W Campbell Road, Richardson, Texas, 75080", hrlye2_veh, 35, 25)
print(hrlye2)
employee_db.append(hrlye2)

# Luna | Hourly 
hrlye3 = HourlyEmployee("Luna", "600 W Campbell Road, Richardson, Texas, 75080", hrlye3_veh, 20, 15)
print(hrlye3)
employee_db.append(hrlye3)

# Michael | Consultant 
consul1 = Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080", consul1_veh, 40, 1)
print(consul1)
employee_db.append(consul1)

# Tom | Consultant 
consul2 = Consultant("Tom", "800 W Campbell Road, Richardson, Texas, 75080", consul2_veh, 50, 2)
print(consul2)
employee_db.append(consul2)

# Zoey | Consultant 
consul3 = Consultant("Zoey", "900 W Campbell Road, Richardson, Texas, 75080", consul3_veh, 30, 3)
print(consul3)
employee_db.append(consul3)

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 60000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 35; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

# Who has/have the highest weekly compensation

In [8]:
# Initialize a new list: employees_list
employees_list = [fte1, fte2, fte3, hrlye1, hrlye2, hrlye3, consul1, consul2, consul3]

# Initialize a new list: comp_list
comp_list = []

# Initialize a new list: emp_name_list
emp_name_list = []

# For each employee in the employee database
for x in employee_db:
    
    # Append each employee's weekly compensation to the comp_list
    comp_list.append(x.get_compensation())

# For each employee in the employee database
for y in employee_db:
    
    # If the max weekly compensation equals the employee's compensation
    if max(comp_list) == y.get_compensation():
          
        # Append his/her name to the employee name list
        emp_name_list.append(y.emp_name)

# Print the person who has the highest weekly compensation
print("The people who have the highest weekly compensation ${0:.2f} are(is): {1}".format(max(comp_list), emp_name_list))

The people who have the highest weekly compensation $3500.00 are(is): ['Tom']

# What the mean weekly compensation is

In [9]:
# Import statistics as stats
import statistics as stats

print("The mean weekly compensation of all objects is:", round(stats.mean(comp_list), 2))

The mean weekly compensation of all objects is: 1600.9

# Who has/have the newest vehicle

In [10]:
# Initialize a new list: car_years_list
car_years_list = []

# Initialize a new list: emp_name_newest_car_list
emp_name_newest_car_list = []

# For each employee in the employee database
for x in employee_db:
    
    # Append each employee's vehicle car year to the car_years_list
    car_years_list.append(x.vehicle.year)

# For each employee in the employee database
for i in employee_db:
    
    # If the maximum car year equals the employee vehicle year
    if max(car_years_list) == i.vehicle.year:
        
        # Append the employee's name to emp_name_newest_car_list
        emp_name_newest_car_list.append(i.emp_name)

# Print the people that have the newest vehicles
print("The people who have the newest vehicle are(is): {}".format(emp_name_newest_car_list))

The people who have the newest vehicle are(is): ['Tom', 'Zoey']

# The mean mileage of all vehicles is

In [11]:
# Initialize a new list: mileage_list
mileage_list = []

# For each employee in the vehicle list
for i in vehicle_list:
    
    # Append each car mileage to the list
    mileage_list.append(i.mileage)
    
# Calculate the mean milage for all vehicles and print it
print("The mean mileage of all vehicles is:", round(stats.mean(mileage_list), 2))

The mean mileage of all vehicles is: 72777.78